.about-me {

    background: rgba(0,0,0, .5);

    @include desktop {
        height: 70vh;
        display: flex;
        justify-content: space-between;

        .img {
            background-image: url("../../assets/mypic.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 50%;
            height: auto;
        }

        .about-info {
            display: flex;
            width: 50%;
            flex-direction: column;
        }
    }

    h1 {
        font-size: 80px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-family: $Beatrix;

        @include desktop {
            font-size: 75px;
        }
    }

    p {
        width: 80%;
        text-align: left;
        color: white;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;

        @include desktop {
            font-size: 18px;
            line-height: 2rem;
        }
    }

}