.experience {
    h1 {
        font-size: 80px;
        font-family: $Beatrix;
        color: $lightgrey;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

        @include desktop {
            font-size: 150px;
            margin-top: 50px;
        }
    }

    .carousel {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-bottom: 30px;    

        .carousel-caption {
            width: 100%;
            background: rgba(0,0,0, .5);
            margin-left: 0;
            left: 0;
            right: 0;

            h1 {
                font-size: 50px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}