.experience {
    h1 {
        font-size: 30px;
        font-family: $Beatrix;
        color: $lightgrey;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;

        @include desktop {
            font-size: 80px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    .carousel-item {
        
        @include desktop {
            margin-bottom: 50px;
        }

        img {
            height: 200px;

            @include desktop {
                height: 600px;
            }
        }
    }

    .carousel {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-bottom: 30px;    

        .carousel-caption {
            width: 100%;
            background: rgba(0,0,0, .5);
            margin-left: 0;
            left: 0;
            right: 0;

            a {
                text-decoration: none;

            }

            h5 {

                @include desktop {
                    font-size: 40px;
                    color: white;

                    
                    &:hover {
                        color: green;
                    }
                }
            }

            p {
                font-size: 20px;
            }
        }
    }
}