@font-face {
    font-family: 'Luna';
    src: url('../../fonts/Luna/Luna.eot');
    src: url('../../fonts/Luna/Luna.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Luna/Luna.woff2') format('woff2'),
        url('../../fonts/Luna/Luna.woff') format('woff'),
        url('../../fonts/Luna/Luna.svg#Luna') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beatrix';
    src: url('../../fonts/Beatrix/BeatrixSignature.eot');
    src: url('../../fonts/Beatrix/BeatrixSignature.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Beatrix/BeatrixSignature.woff2') format('woff2'),
        url('../../fonts/Beatrix/BeatrixSignature.woff') format('woff'),
        url('../../fonts/Beatrix/BeatrixSignature.svg#BeatrixSignature') format('svg');
    font-weight: normal;
    font-style: normal;
}