.skills {

    @include desktop {
        height: 100vh;
    }

    p {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        color: $lightgrey;

        @include desktop {
            font-size: 30px;
            padding-bottom: 100px;
            padding-top: 80px;
        }
    }

    h1 {
        font-size: 80px;
        text-align: center;
        padding-top: 30px;
        color: $lightgrey;
        font-family: $Beatrix;

        @include desktop {
            font-size: 150px;
            margin-top: 50px;
        }
    }
    
    .skills-bar {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;

        i {
            font-size: 20px;
            color: $lightgrey;

            @include desktop {
                font-size: 85px;
            }

            &:nth-of-type(odd) {
                color: black;
            }
        }

        img {
            width: 25px;

            @include desktop {
                width: 80px;
            }
        }
    }
}