@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'about';
@import 'contact';
@import 'audio';
@import 'webdev';

body {
    background: url("../../assets/gaming-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.black-overlay, .black-overlay1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .5);
    z-index: -1;
}

.black-overlay1 {
    height: 100%;
    position: absolute;
}

.my-name, .web-title, .portfolio-title {
    font-family: "Beatrix";
    font-size: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 100px;

    @include desktop {
        font-size: 250px;
    }
}

.my-name {

    @include desktop {
        padding-top: 50px;
    }
}

.thanks, .thanks-t {

    color: white;
    font-family: 'Pixel';
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.thanks-t {
    font-size: 20px;
    padding-bottom: 20px;
}

.portfolio-links {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;

    @include desktop {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;

        p {
            visibility: hidden;
            font-size: 20px;
        }

        a {
            &:hover {
                p {
                    visibility: visible;
                    transition: .5s;
                }
            }
        }

    }

    a {
        text-decoration: none;
        
    }

    i {
        text-align: center;
        background: white;
        color: black;
        padding: 20px;
        border-radius: 100%;

        @include desktop {
            font-size: 40px;
            padding: 23px 22px;
        }

        &:hover {
            color: white;
            background-color: darkgray;
        }
    }

    p {
        text-align: center;
        font-family: monospace;
        padding-top: 10px;
        color: white;
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

