@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'about';
@import 'contact';
@import 'audio';
@import 'webdev';

body {
    background: url("../../assets/gaming-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.black-overlay {
    height: 100vh;
    background: rgba(0,0,0, .5);
    top: 0;
    background-attachment: fixed;
}

.my-name, .web-title, .portfolio-title {
    font-family: "Beatrix";
    font-size: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 100px;
}

.thanks, .thanks-t {

    color: white;
    font-family: 'Pixel';
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.thanks-t {
    font-size: 20px;
    padding-bottom: 20px;
}

.portfolio-links {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;

    a {
        text-decoration: none;
        
    }

    i {
        text-align: center;
        background: white;
        color: black;
        padding: 20px;
        border-radius: 100%;
        box-shadow: 2px 2px;
    }

    p {
        text-align: center;
        font-family: monospace;
        padding-top: 10px;
        color: white;
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

