/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Pixel';
  src: url("../../fonts/Pixel/Pixel.eot");
  src: url("../../fonts/Pixel/Pixel.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pixel/Pixel.woff2") format("woff2"), url("../../../fonts/Pixel/Pixel.woff") format("woff"), url("../../fonts/Pixel/Pixel.svg#Pixel") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Beatrix';
  src: url("../../fonts/Beatrix/BeatrixSignature.eot");
  src: url("../../fonts/Beatrix/BeatrixSignature.eot?#iefix") format("embedded-opentype"), url("../../fonts/Beatrix/BeatrixSignature.woff2") format("woff2"), url("../../fonts/Beatrix/BeatrixSignature.woff") format("woff"), url("../../fonts/Beatrix/BeatrixSignature.svg#BeatrixSignature") format("svg");
  font-weight: normal;
  font-style: normal; }

.contact-body {
  background: url("../../assets/contact-bkg.jpg");
  background-position: center; }

.info-item {
  color: white;
  font-family: "Pixel";
  font-size: 18px;
  list-style-type: none;
  padding-bottom: 20px; }

.contact-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; }
  .contact-info i {
    margin-right: 5px; }

.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .media-links i {
    padding: 20px;
    color: black;
    background: white;
    border-radius: 100%;
    font-size: 30px;
    color: royalblue; }
    @media (min-width: 1024px) {
      .media-links i {
        font-size: 40px; } }
    .media-links i:hover {
      color: white;
      background: royalblue; }

.contact-thanks {
  color: white;
  text-align: justify;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Pixel";
  font-size: 18px; }
  @media (min-width: 1024px) {
    .contact-thanks {
      font-size: 20px; } }

.contact-title {
  font-family: "Beatrix";
  font-size: 150px;
  color: white;
  text-align: center;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1024px) {
    .contact-title {
      font-size: 250px; } }

.audio-body {
  background: url("../../assets/audio-back.jpg"); }

.audios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .audios .audio-container {
    background: rgba(107, 106, 106, 0.6);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px; }
  .audios h1 {
    color: white;
    font-family: "Beatrix";
    font-size: 60px; }
  .audios p {
    color: white;
    font-family: "Pixel"; }
  .audios i {
    color: white;
    padding-top: 20px;
    font-size: 20px; }
    .audios i:hover {
      color: yellowgreen; }
  @media (min-width: 620px) {
    .audios {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .audios h1 {
        font-size: 80px; }
      .audios .audio-container {
        width: 28%;
        height: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .audios .audio-container .audio-controls i {
          font-size: 40px;
          -ms-flex-item-align: end;
              align-self: flex-end; } }
  @media (min-width: 1024px) {
    .audios {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .audios h1 {
        font-size: 80px; }
      .audios .audio-container {
        width: 30%;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .audios .audio-container .audio-controls i {
          font-size: 40px;
          -ms-flex-item-align: end;
              align-self: flex-end; } }

.web-body {
  background-image: url("../../assets/coding-back.jpg");
  background-attachment: fixed; }

.pweb-body {
  background-image: url("../../assets/coding-back.jpg");
  background-attachment: scroll; }

.web-title {
  line-height: 90px; }

#port-title {
  padding-top: 20px; }

.portfolio-web, .contact {
  padding-top: 50px; }
  .portfolio-web a, .contact a {
    color: white; }
    .portfolio-web a i, .contact a i {
      color: gray; }
      @media (min-width: 1024px) {
        .portfolio-web a i, .contact a i {
          font-size: 40px;
          padding: 23px; } }
      .portfolio-web a i:hover, .contact a i:hover {
        color: white;
        background: gray; }

.fa-arrow-left {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 5%; }

.fa-home {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 10%; }

.web-description {
  padding-top: 50px;
  padding-bottom: -20px;
  color: white;
  text-align: justify;
  font-family: "Pixel";
  font-size: 18px;
  width: 90%;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1024px) {
    .web-description {
      padding-top: 80px; } }

.portfolio-list {
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .portfolio-list .portfolio-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px; }
    @media (min-width: 620px) {
      .portfolio-list .portfolio-item {
        height: 400px; } }
    @media (min-width: 1024px) {
      .portfolio-list .portfolio-item {
        height: 500px; } }
    .portfolio-list .portfolio-item img {
      width: 90%;
      height: 100px;
      padding-bottom: 20px; }
      @media (min-width: 620px) {
        .portfolio-list .portfolio-item img {
          height: 200px; } }
      @media (min-width: 1024px) {
        .portfolio-list .portfolio-item img {
          height: 300px; } }
    .portfolio-list .portfolio-item p {
      width: 90%; }
      @media (min-width: 1024px) {
        .portfolio-list .portfolio-item p {
          font-size: 20px; } }
  .portfolio-list a {
    text-decoration: none;
    color: white;
    font-family: "Pixel"; }
    .portfolio-list a:hover {
      color: #999900; }
    .portfolio-list a h1 {
      text-transform: capitalize;
      padding-bottom: 5px;
      font-family: "Beatrix";
      font-size: 60px; }
      @media (min-width: 1024px) {
        .portfolio-list a h1 {
          font-size: 80px; } }

body {
  background: url("../../assets/gaming-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }

footer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 50px; }
  footer .reach {
    color: white;
    font-size: 20px;
    font-family: 'Pixel';
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    text-align: center; }
    @media (min-width: 1024px) {
      footer .reach {
        font-size: 40px; } }
  footer h1 {
    color: white;
    font-size: 16px;
    font-family: 'Pixel';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
    @media (min-width: 1024px) {
      footer h1 {
        width: 40%; } }

.black-overlay, .black-overlay1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; }

.black-overlay1 {
  height: 100%;
  position: absolute; }

.my-name, .web-title, .portfolio-title {
  font-family: "Beatrix";
  font-size: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 100px; }
  @media (min-width: 1024px) {
    .my-name, .web-title, .portfolio-title {
      font-size: 250px; } }

@media (min-width: 1024px) {
  .my-name {
    padding-top: 50px; } }

.thanks, .thanks-t {
  color: white;
  font-family: 'Pixel';
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.thanks-t {
  font-size: 20px;
  padding-bottom: 20px; }

.thanks {
  padding-bottom: 25px; }

.home-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  border-top: 1px dashed gray; }
  @media (min-width: 1024px) {
    .home-links .hidden, .home-links .hiddenw {
      visibility: hidden; } }
  .home-links .circles {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-areas: "about audio web aboutw" "music audio web code" "down audio web downw"; }
    .home-links .circles .music-circle {
      grid-area: audio; }
      .home-links .circles .music-circle i {
        padding: 20px;
        font-size: 20px; }
        @media (min-width: 1024px) {
          .home-links .circles .music-circle i {
            font-size: 40px; } }
      @media (min-width: 1024px) {
        .home-links .circles .music-circle p {
          font-size: 30px; } }
    .home-links .circles .about-circle {
      grid-area: about;
      margin-right: -50px; }
      .home-links .circles .about-circle i {
        padding: 15px;
        font-size: 15px; }
      @media (min-width: 1024px) {
        .home-links .circles .about-circle p {
          font-size: 20px; } }
    .home-links .circles .audios-circle {
      grid-area: music; }
      .home-links .circles .audios-circle i {
        padding: 15px;
        font-size: 15px; }
      @media (min-width: 1024px) {
        .home-links .circles .audios-circle p {
          font-size: 20px; } }
    .home-links .circles .down-circle {
      grid-area: down;
      margin-right: -50px; }
      .home-links .circles .down-circle i {
        padding: 15px;
        font-size: 15px; }
      @media (min-width: 1024px) {
        .home-links .circles .down-circle p {
          font-size: 20px; } }
    .home-links .circles .web-circle {
      grid-area: web; }
      .home-links .circles .web-circle i {
        padding: 20px;
        font-size: 20px; }
        @media (min-width: 1024px) {
          .home-links .circles .web-circle i {
            font-size: 40px; } }
      @media (min-width: 1024px) {
        .home-links .circles .web-circle p {
          font-size: 30px; } }
    .home-links .circles .aboutw-circle {
      grid-area: aboutw;
      margin-left: -50px; }
      .home-links .circles .aboutw-circle i {
        padding: 15px;
        font-size: 15px; }
      @media (min-width: 1024px) {
        .home-links .circles .aboutw-circle p {
          font-size: 20px; } }
    .home-links .circles .code-circle {
      grid-area: code; }
      .home-links .circles .code-circle i {
        padding: 15px;
        font-size: 15px; }
      @media (min-width: 1024px) {
        .home-links .circles .code-circle p {
          font-size: 20px; } }
    .home-links .circles .downw-circle {
      grid-area: downw;
      margin-left: -50px; }
      .home-links .circles .downw-circle i {
        padding: 15px;
        font-size: 15px; }
      @media (min-width: 1024px) {
        .home-links .circles .downw-circle p {
          font-size: 20px; } }
  .home-links .circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .home-links a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .home-links i {
    color: black;
    background: white;
    border-radius: 100%;
    text-align: center; }
    @media (min-width: 1024px) {
      .home-links i:hover {
        color: red;
        background: grey; } }
  .home-links p {
    color: white;
    text-align: center;
    font-family: 'Pixel';
    font-size: 12px;
    padding-top: 10px; }
