/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Pixel';
  src: url("../../fonts/Pixel/Pixel.eot");
  src: url("../../fonts/Pixel/Pixel.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pixel/Pixel.woff2") format("woff2"), url("../../../fonts/Pixel/Pixel.woff") format("woff"), url("../../fonts/Pixel/Pixel.svg#Pixel") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Beatrix';
  src: url("../../fonts/Beatrix/BeatrixSignature.eot");
  src: url("../../fonts/Beatrix/BeatrixSignature.eot?#iefix") format("embedded-opentype"), url("../../fonts/Beatrix/BeatrixSignature.woff2") format("woff2"), url("../../fonts/Beatrix/BeatrixSignature.woff") format("woff"), url("../../fonts/Beatrix/BeatrixSignature.svg#BeatrixSignature") format("svg");
  font-weight: normal;
  font-style: normal; }

header {
  position: absolute;
  top: 3%;
  left: 5%;
  z-index: 2; }
  @media (min-width: 1024px) {
    header {
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 0;
      left: 0;
      height: 8%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  header .header-info {
    color: white;
    margin-right: 40px;
    visibility: hidden; }
    @media (min-width: 1024px) {
      header .header-info {
        visibility: visible; } }
  header .nav-bar {
    visibility: hidden; }
    @media (min-width: 1024px) {
      header .nav-bar {
        background: none;
        height: auto;
        font-size: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 30%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        visibility: visible; } }
  @media (min-width: 1024px) and (min-width: 1024px) {
    header .nav-bar a {
      padding: 15px 15px; } }
    @media (min-width: 1024px) {
        header .nav-bar a:hover {
          text-decoration: none;
          background: rgba(1, 19, 99, 0.5); }
        header .nav-bar li {
          padding: 20px; } }
    header .nav-bar li {
      padding: 5px; }
  header .hiding-bar {
    margin-top: 5px;
    background: rgba(62, 62, 62, 0.5);
    margin-left: 10px;
    height: auto;
    width: 100px;
    font-size: 1rem;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
    header .hiding-bar li {
      border: 1px solid gray;
      padding: 5px;
      color: white; }

.hero-image {
  background-image: url("../../assets/hero-img-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70vh; }
  @media (min-width: 1024px) {
    .hero-image {
      height: 100vh; } }
  .hero-image .hero-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    height: 70vh;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.5); }
    @media (min-width: 1024px) {
      .hero-image .hero-info {
        height: 100%; } }
    .hero-image .hero-info .header-icons {
      margin-top: 30px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .hero-image .hero-info i {
      color: white;
      background: #011363;
      border-radius: 5%;
      padding: 10px 15px;
      text-align: center;
      -webkit-box-shadow: 1px 1px rgba(255, 255, 255, 0.3);
              box-shadow: 1px 1px rgba(255, 255, 255, 0.3); }
      .hero-image .hero-info i:hover {
        background: #3e3e3e; }
      @media (min-width: 1024px) {
        .hero-image .hero-info i {
          font-size: 30px; } }
    .hero-image .hero-info .resume {
      color: white;
      padding: 10px 15px;
      background: #011363;
      text-decoration: none;
      text-align: center;
      -webkit-box-shadow: 1px 1px rgba(255, 255, 255, 0.3);
              box-shadow: 1px 1px rgba(255, 255, 255, 0.3);
      border-radius: 5%; }
      .hero-image .hero-info .resume:hover {
        background: #3e3e3e; }
      @media (min-width: 1024px) {
        .hero-image .hero-info .resume {
          font-size: 30px; } }
    .hero-image .hero-info h1 {
      font-family: "Beatrix";
      font-size: 300px;
      color: white; }
      @media (min-width: 1024px) {
        .hero-image .hero-info h1 {
          font-size: 250px; } }
    .hero-image .hero-info p {
      color: white;
      font-size: 40px; }
      @media (min-width: 1024px) {
        .hero-image .hero-info p {
          font-size: 30px; } }

@media (min-width: 1024px) {
  .skills {
    height: 100vh; } }

.skills p {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  color: grey; }
  @media (min-width: 1024px) {
    .skills p {
      font-size: 30px;
      padding-bottom: 100px;
      padding-top: 80px; } }

.skills h1 {
  font-size: 80px;
  text-align: center;
  padding-top: 30px;
  color: grey;
  font-family: "Beatrix"; }
  @media (min-width: 1024px) {
    .skills h1 {
      font-size: 150px;
      margin-top: 50px; } }

.skills .skills-bar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px; }
  .skills .skills-bar i {
    font-size: 20px;
    color: grey; }
    @media (min-width: 1024px) {
      .skills .skills-bar i {
        font-size: 85px; } }
    .skills .skills-bar i:nth-of-type(odd) {
      color: black; }
  .skills .skills-bar img {
    width: 25px; }
    @media (min-width: 1024px) {
      .skills .skills-bar img {
        width: 80px; } }

.about-me {
  background: rgba(0, 0, 0, 0.5); }
  @media (min-width: 1024px) {
    .about-me {
      height: 70vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .about-me .img {
        background-image: url("../../assets/mypic.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: auto; }
      .about-me .about-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .about-me h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: "Beatrix"; }
    @media (min-width: 1024px) {
      .about-me h1 {
        font-size: 100px; } }
  .about-me p {
    width: 80%;
    text-align: left;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px; }
    @media (min-width: 1024px) {
      .about-me p {
        font-size: 20px;
        line-height: 2rem; } }

.experience h1 {
  font-size: 80px;
  font-family: "Beatrix";
  color: grey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 1024px) {
    .experience h1 {
      font-size: 150px;
      margin-top: 50px; } }

.experience .carousel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 30px; }
  .experience .carousel .carousel-caption {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 0;
    left: 0;
    right: 0; }
    .experience .carousel .carousel-caption h1 {
      font-size: 50px; }
    .experience .carousel .carousel-caption p {
      font-size: 30px; }

footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px; }
  @media (min-width: 1024px) {
    footer {
      height: 50vh; } }
  footer .email, footer .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .email p, footer .phone p {
      padding-left: 5px;
      color: white; }
  footer .icons-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .icons-social i {
      color: white;
      padding: 5px;
      font-size: 20px; }
      footer .icons-social i:hover {
        color: #011363; }
      @media (min-width: 1024px) {
        footer .icons-social i {
          font-size: 40px; } }
  footer .footer-socials-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 10%;
    margin-right: auto; }
    footer .footer-socials-contact i {
      color: white;
      padding: 5px; }
  footer h1 {
    font-family: "Beatrix";
    font-size: 80px;
    color: white;
    padding-top: 20px; }
    @media (min-width: 1024px) {
      footer h1 {
        font-size: 150px; } }
  footer .footer-nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

body {
  font-family: sans-serif;
  background: none; }

section {
  height: 80vh; }
