/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Pixel';
  src: url("../../fonts/Pixel/Pixel.eot");
  src: url("../../fonts/Pixel/Pixel.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pixel/Pixel.woff2") format("woff2"), url("../../../fonts/Pixel/Pixel.woff") format("woff"), url("../../fonts/Pixel/Pixel.svg#Pixel") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Beatrix';
  src: url("../../fonts/Beatrix/BeatrixSignature.eot");
  src: url("../../fonts/Beatrix/BeatrixSignature.eot?#iefix") format("embedded-opentype"), url("../../fonts/Beatrix/BeatrixSignature.woff2") format("woff2"), url("../../fonts/Beatrix/BeatrixSignature.woff") format("woff"), url("../../fonts/Beatrix/BeatrixSignature.svg#BeatrixSignature") format("svg");
  font-weight: normal;
  font-style: normal; }

.contact-body {
  background: url("../../assets/web-background2.jpg");
  background-position: left; }

.info-item {
  color: white;
  font-family: "Pixel";
  font-size: 18px;
  list-style-type: none;
  padding-bottom: 50px; }

.contact-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; }

.media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .media-links i {
    padding: 20px;
    color: black;
    background: white;
    border-radius: 100%;
    font-size: 30px;
    color: royalblue; }

.contact-title {
  font-family: "Beatrix";
  font-size: 150px;
  color: white;
  text-align: center;
  padding-top: 120px; }

.web-body {
  background-image: url("../../assets/web-background2.jpg"); }

.web-title {
  line-height: 90px; }

#port-title {
  padding-top: 20px; }

.portfolio-web a, .contact a {
  color: white; }
  .portfolio-web a i, .contact a i {
    color: royalblue; }

.fa-arrow-left {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 5%; }

.web-description {
  padding-top: 50px;
  color: white;
  text-align: justify;
  font-family: "Pixel";
  font-size: 18px;
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

.portfolio-list {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }
  .portfolio-list a {
    text-decoration: none;
    color: white;
    font-family: "Pixel"; }
    .portfolio-list a:hover {
      color: #999900; }
    .portfolio-list a li {
      padding-bottom: 20px; }
    .portfolio-list a h1 {
      text-transform: uppercase;
      padding-bottom: 5px;
      font-family: "Beatrix";
      font-size: 40px; }

body {
  background: url("../../assets/gaming-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed; }

.black-overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  background-attachment: fixed; }

.my-name, .web-title, .portfolio-title {
  font-family: "Beatrix";
  font-size: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 100px; }

.thanks, .thanks-t {
  color: white;
  font-family: 'Pixel';
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.thanks-t {
  font-size: 20px;
  padding-bottom: 20px; }

.portfolio-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .portfolio-links a {
    text-decoration: none; }
  .portfolio-links i {
    text-align: center;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 2px;
            box-shadow: 2px 2px; }
  .portfolio-links p {
    text-align: center;
    font-family: monospace;
    padding-top: 10px;
    color: white; }
  .portfolio-links .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
